<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="nav">
    <ul>
        <li><a href="email"><span>이메일</span></a></li>
        <li><a href="/board_gj"><span>공지사항</span></a></li>
        <li><a href="attendance"><span>근태관리</span></a></li>
        <li><a href="tasks"><span>개인업무</span></a></li>
    </ul>
</nav>
</html>

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/board/slide_menu.css">
<nav th:fragment="nav">
    <ul>
        <li><a href="email"><span>이메일</span></a></li>
        <li id="notice_menu"><a><span>공지사항</span></a>
            <ul class="sub_menu" style="display: none;">
                <li><a>공지사항</a></li>
                <li><a>자유게시판</a></li>
            </ul>
        </li>
        <li><a href="attendance"><span>근태관리</span></a></li>
        <li><a href="tasks"><span>개인업무</span></a></li>
    </ul>
</nav>
<script th:src="@{/js/board/slide_menu.js}"></script>
</html>