<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CIS/personal_task/personal_task_base.css">
    <link rel="stylesheet" href="/CIS/personal_task/task_detail.css">
</head>
<body>
<div class="main">
    <header>
        <div class="header_left">
            <a href="emp_main">
                <img src="/CIS/image/회사 로고.jpg" alt="Logo" class="logo_img">
                <div>
                    <span class="logo_text">○○○ Company</span>
                </div>
            </a>
        </div>
        <div class="header_right">
            <div>
                <span class="login_user">○○○ 님</span>
            </div>
            <form action="" method="">
                <input type="button" value="로그아웃" class="logout_btn">
            </form>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="email"><span>이메일</span></a></li>
            <li><a href=""><span>게시판</span></a></li>
            <li><a href=""><span>근태관리</span></a></li>
            <li><a href=""><span>개인업무</span></a></li>
        </ul>
    </nav>
    <section>
        <div class="container">
            <form>
                <div class="task_detail_title">
                    <input type="text" size=45px name="receive_rank" value="">
                </div>
                <div class="select_emp">
                    <p>부서: <input type="text" size=10px name="receive_dept" value="" ></p>
                    <!--인턴, 사원, 대리, 과장, 팀장, 임원-->
                    <p>직급: <input type="text" size=10px name="receive_rank" value=""></p>
                    <p>성명: <input type="text" size=10px name="receive_emp" value=""></p>
                    <p>기간: <input type="text" size=10px name="receive_peroid" value=""></p>
                </div>
                <div class="file_name">
                    <h4>첨부파일</h4>
                </div>
                <div class="receive_file">
                    <div style="height: 50px; overflow-y:scroll">
                        <p>받은 파일</p>
                    </div>
                </div>
                <div class="task_receive_comment">
                    <div style="height: 350px; overflow-y:scroll">
                        <p>받은 업무 내용</p>
                    </div>
                </div>
            </div>
        </form>
        <div class="back_button">
            <button type="button">
                <a href="./01.개인업무화면.html">
                    <img src="/CIS/image/back.png" width="40" height="40" onclick=""></a>
            </button>
        </div>
        </section>
    <footer>
        <div class="company_info">
            <p style="font-size:12px">서울특별시 00구 00로 000</p>
            <p style="font-size:12px">사업자등록번호: 000-00-00000</p>
            <p style="font-size:12px">대표이사: 이개발</p>
        </div>
    </footer>
    </body>
</html>